
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    height: 100vh;
    width: 25vw;
    margin-left:0;
    background-color: bisque;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}  
body{
    font-family: 'Hanken Grotesk', sans-serif;
    max-width: 100vw;
} 
.im{
    height: 200px;
    width: 250px;
    border-radius: 100%;
}
.person>h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.person>h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.person{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}
nav{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.links{
    background-color: grey;
    color:bisque;
    text-decoration: none;
    padding: 10px;
    width:200px;
    border-radius: 25px;
    text-align: center;
}
.links:hover{
    background-color: brown;
    transition: 0.7ms;
}
main{
    background-color:lavenderblush;
    margin-left:auto;
    width:75vw;
}
main>section{
    width:50vw;
    min-height:100vh;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
section>*{
    padding:15px 0px;
}
.spec{
    color:blueviolet;

}